@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
body {
  background-color: #edf0f5;
  color: #444;
  padding-bottom: 20vh;
  line-height: 1.4;
}
ul {
  padding-left: 3rem;
}
li {
  list-style: initial;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.pill {
  display: inline-block;
  background-color: #07b624;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: bold;
  margin-bottom: 2rem;
}
#header-picture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vh;
  background-image: url('./assets/img/header-bg.jpg');
  background-size: cover;
  background-position-y: center;
}
.flex-row {
  display: flex;
}
.md-card {
  padding: 3rem;
  margin-bottom: 4rem;
  position: relative;
  background: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0,0,0,.09), 0 10px 40px rgba(0,0,0,.08);
}
#info {
  margin-top: 20vh;
}
.timeline-list {
  position: relative;
  padding-left: 0;
}
.timeline-pipe {
  position: absolute;
  width: 6px;
  height: 100%;
  left: 50%;
  border-radius: 9999px;
  transform: translateX(-50%);
  background-color: #07b624;
}
.timeline-item {
  list-style: none;
}
.timeline-item:nth-child(2n) {
  text-align: right;
}
.timeline-card {
  display: inline-block;
  width: 40%;
  margin-bottom: -10%;
}
.timeline-item:nth-child(2n+1) .timeline-card {
  text-align: right;
}
.timeline-item:nth-child(2n) .timeline-card {
  text-align: left;
}